$blue: #0157D9;
$black: #252525;
$white: white;
$linear: linear-gradient(270deg, #0056D7 0%, #0468FF 100%);
$yellow: #FFC107;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: $black;
    line-height: normal;
}

// ** Utilities ** //
.fs {
    &-14 {
        font-size: 14px;
    }
    &-18 {
        font-size: 18px;
    }
    &-20 {
        font-size: 20px;
    }
    &-22 {
        font-size: 22px;
    }
    &-32 {
        font-size: 32px;
    }
}

.fw {
    &-5 {
        font-weight: 500;
    }
}

.c {
    &-blue {
        color: $blue;
    }
    &-gray {
        color: #ECEFF1;
    }
}

.z-ind {
    &-0 {
        z-index: 0;
    }
    &-1 {
        z-index: 1;
    }
}

.shadow-box {
    box-shadow: 0px 2px 10px rgba(37, 37, 37, 0.2);
}

.stretched-link {
    z-index: 0;
}

.bg-light {
    background-color: #F9F9F9;
}

// ** Utilities ** //
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.btn {
    z-index: 1;
    font-weight: 700;
    &-blue {
        color: white;
        background-image: $linear;
        &:hover {
            color: $white;
        }
    }
    &-outline {
        border: 2px solid $blue;
        border-radius: 5px;
        color: $black;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

.form-control,
.form-select {
    border: 2px solid $blue;
}

// hero block
.hero {
    height: 450px;
    img {
        z-index: -1;
        object-fit: cover;
        object-position: center -280px;
    }
}

// category block
.category-list {
    .card {
        a {
            width: 85%;
        }
    }
}

.services-list {
    p {
        margin-bottom: 5px;
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
}

.articles-block {
    p {
        margin-bottom: 10px;
    }
}

.without-title {
    font-family: 'Open Sans', sans-serif;
}

// ads section
.ad {
    img {
        min-height: 300px;
        max-height: 300px;
    }
    .rounded-3 {
        width: 90%;
    }
}

// article block
.article-text {
    p {
        &:last-of-type {
            margin-bottom: 16px;
        }
    }
}

.tab-btn {
    border: 2px solid $blue;
    background-color: $white;
    &.active {
        background: $linear;
        color: $white;
    }
    &:first-child {
        border-radius: 5px 0 0 5px;
    }
    &:last-child {
        border-radius: 0px 5px 5px 0px;
    }
}

.card {
    border: none;
    height: 100%;
    border-radius: 0;
}

span.checked {
    color: $yellow;
}

// footer
footer {
    a {
        text-decoration: none;
        color: inherit;
    }
    legend {
        line-height: 21px;
    }
    .form-control {
        min-height: 36px;
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        resize: none;
        &::placeholder {
            color: #BEBEBE;
        }
    }
}

// MEDIAQUERIES
@media (min-width: 1660px) {
    .container {
        max-width: 1600px;
    }
}

@media (max-width: 575.98px) {
    .hero {
        height: 200px;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {
    .fs-18 {
        font-size: 16px;
    }
    .article-text {
        p {
            margin-bottom: 5px;
        }
    }
}

// @media (max-width: 1199.98px) {}
// @media (max-width: 1399.98px) {}